extends layout

block content
    h1= title
    if game
        h2= game.name
        table(class="table table-striped table-bordered table-hover table-sm")
            thead(class="thead-dark")
                tr
                    th(scope="col") Email
                    th(scope="col") Highscore
            tbody
                each hs in game.highscores
                    -color = ''
                    if hs.user.isBanned
                        -color = 'table-danger'
                    else if hs.user.isAdmin
                        -color = 'table-primary'
                    tr(class=color)
                        td= hs.user.email
                        td= hs.value

    else
        p oups
